.container {
    padding: 40px 16px 80px;
    border-bottom: 1px solid #E5E5E5;

    @media screen and (max-width: 768px) {
        padding: 24px 16px;
    }
}

.wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
       flex-direction: column;
    }
}


.titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 24px;
    @media screen and (max-width: 1200px) {
        text-align: center;
    }
    @media screen and (max-width: 768px) {
        gap: 16px;
    }
}

.title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media screen and (max-width: 1200px) {
        padding: 0 32px;
    }
    @media screen and (max-width: 768px) {
        gap: 16px;
    }
    h1 {
        font-size: 72px;
        font-weight: 500;
        line-height: 76px;
        letter-spacing: -3px;
        @media screen and (max-width: 768px) {
            font-size: 44px;
            line-height: 46px;
        }
    }
    p {
        font-size: 22px;
        font-weight: 300;
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
}

.background {
    width: 600px;
    height: 600px;
    border-radius: 24px;
    overflow: hidden;
    flex-shrink: 0;
    img {
        object-fit: cover;
        width: 600px;
        height: 600px;
    }
    @media screen and (max-width: 700px) {
        width: 100%;
        img {
            width: 100%;
            height: 600px;
        }
    }
    @media screen and (max-width: 480px) {
        width: 100%;
        height: 400px;
        img {
            width: 100%;
            height: 400px;

        }
    }
}
