.container {
  padding: 56px 16px 32px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.wrapper {
  max-width: 1224px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.logo {
  width: 150px;
  height: 43px;
  img {
    width: 150px;
    height: 43px;
  }
}

.info {
  margin-top: 64px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.item {
  font-size: 14px;
  font-weight: 300;
  color: #969799;
}